.primero {
    width: 200px;
    height: 200px;
    background-color: rgb(81, 168, 177);
    display: inline-block;
}

.segundo {
    width: 200px;
    height: 200px;
    background-color: rgb(236, 38, 143);
    display: inline-block;
}

.tercero {
    width: 200px;
    height: 200px;
    background-color: rgb(55, 52, 53);
    display: inline-block;
}